<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shahroz.karaoketexty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/karaoketexty_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Karaoketexty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WindowsActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Favourite" />
        <activity android:name=".Recording" />
        <activity
            android:name=".DisplayLyrics"
            android:label="@string/title_activity_display_lyrics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Searched"
            android:label="@string/title_activity_searched"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>